@model BlogDomain.Core.BlogPost

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>
                <address>
                    BORA CEM DİNDAR (Mekatronik Mühendisi || Software Developer)<br />
                    Karadolap mah. Eyüp/İstanbul<br />
                    <abbr title="Phone"></abbr>
                    +90 0536 209 41 53
                </address>

                <address>
                    <strong>Mail:</strong>   <a href="https://outlook.live.com/owa/?path=/mail/inbox">B.C.Dindar@hotmail.com</a><br />
                    <strong>Linked in:</strong> <a href="https://www.linkedin.com/in/bora-cem-dindar-127135146/">Bora Cem Dindar</a>
                </address>
            </div>
        </div>
    </div>
</div>

